<!-- FOOTER START -->
<div class="footer">
	<div class="footer-div">
		<p>صدقه جاريه لمحمد بن غريب الشحي - عبدلله الشحي - حمد العبدولي - ولجميع من قراء  <i class="fas fa-heart"></i></p>
	</div>
</div>
<!-- FOOTER END -->
